@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Metal&display=swap');

.cart-container svg {
    cursor: pointer;
}

.cart-container {
    min-height: 280px;
    margin-top: 5em;
    background-color: rgba(88, 86, 82, 0.89);
    filter: brightness(1px);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.cart-img {
    height: 150px;
    width: 150px;
}

.table>tbody {
    vertical-align: middle;
}

.total {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    color: rgb(238, 231, 231);
    font-family: 'Bokor', cursive;

    
}

.total button {
    margin-bottom: 1em;
}

tr td {
    font-weight: bold;
    color: #fff;
    font-family: 'Metal', cursive;
    font-size: larger;
}

tr {
    color: #fff;
    font-family: 'Metal', cursive;
    font-size: larger;
}